.round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  /* border: 2px dashed white; */
  /* border-radius: 50%; */
  background: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;

  /* add background image */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75' viewBox='0 0 75 75' fill='none'%3E%3Ccircle cx='37.5' cy='37.5' r='36.5' stroke='white' stroke-linecap='round' stroke-dasharray='7 7'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.round-button svg {
  display: block;
}