.home{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #060010;
}

.home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    pointer-events: none;
}

.home-title{
    text-align: center;
    font-family: Figtree;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home-subtitle{
    color: #FFF;
    text-align: center;
    font-family: Figtree;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.06rem;
}

.home-subtitle-changing-text{
    font-style: italic;
}

.home-round-button{
    margin: 0 auto 0 auto;
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}